{% extends "layout.html" %}

{% block title %}
    <title>GeoCalc_Contacts</title>
{% endblock %}

{% block li1 %}  {% endblock %}
{% block li2 %}  {% endblock %}
{% block li3 %}  {% endblock %}
{% block li4 %}  {% endblock %}
{% block li5 %}  class="active"{% endblock %}
{% block li6 %}  {% endblock %}
{% block li7 %}  {% endblock %}

{% block content %}

<center><img src="../static/Logo.svg">
<p>г.Москва, Баррикадная улица, 8с5А</p><br>
<p>г.Кемерово, ул.Свободы, 6</p><br>
<p>г.Томск, пр.Ленина, 147</p><br>
<p>г.Новосибирск, Красный просп., 35</p><br>

    <a href="../geocalc">https://ntcin.ru/</a><br>

    <p>Техническая поддержка: nickgornin@yandex.ru</p><br></center>

{% endblock %}
