{% extends "layout.html" %}

{% block title %}
    <title>GeoCalc</title>
{% endblock %}

{% block li1 %}  {% endblock %}
{% block li2 %} class="active" {% endblock %}
{% block li3 %}  {% endblock %}
{% block li4 %}  {% endblock %}
{% block li5 %}  {% endblock %}
{% block li6 %}  {% endblock %}

{% block content %}
    <center><h1>Страница работы с калькулятором</h1></center>
    <p>Калькулятор выполняет расчет с использованием детального шаблона исходных данных, заполняемого в формате листа электронных таблиц xlsx. Скачать подходящий шаблон можно ниже на странице (выбрать необходимый шаблон данных для расчет, заполнить его и загрузить для расчета). В каждый шаблон уже внесены данные для примера. Использование шаблонов позволит вам сохранить ваш набор данных для расчета, чтобы не вводить все данные повторно. Также, на базе данных Примера можно опробовать расчетный механизм калькулятора</p>
    <p>Разъяснения по структруе данных приведены на листе <a href="../method/" >"Методика оценки"</a>></p>
    <center><h2>Зашрузите файл исходных данных для расcчета</h2></center>
    <center><h3>(!!!шаблон для заполнения скачайте ниже!!!)</h3></center>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <center><h2><input type="file" name="excel_file"></h2></center>
    <br>
    <center><button type="submit"><h3><p>Запустить калькулятор</p></h3><img class="calcr" src="../static/geocalc/calc.png" /></button></center>



</form>
<br><br><br>

<center><h2>Шалоны исходных данных для различных вариантов расчета:</h2>
        <div class="MENUITEM">
  		<ul>
                <li>
                    <a href="../static/data.xlsx" download>
                        <span class="icon"><i class="fa-solid fa-industry"></i></span>
                        <span class="item">Вариант 1: Рудные месторождения. Пологое залегание рудных тел (до 30 градусов, заданный коэф. вскрыши)</span>
                        <span class="icon"><i class="fa-solid fa-download"></i></span>
                    </a>
                </li>
                <li>
                    <a href="../static/data.xlsx" download>
                        <span class="icon"><i class="fa-solid fa-industry"></i></span>
                        <span class="item">Вариант 2: Россыпное золото. (заданный коэф. вскрыши)</span>
                        <span class="icon"><i class="fa-solid fa-download"></i></span>
                    </a>
                </li>
                <li>
                    <a href="../static/data.xlsx" download>
                        <span class="icon"><i class="fa-solid fa-flask"></i></span>
                        <span class="item">Вариант 3: Нефтяное месторождение. (заданный темп снижения добычи по скважине)</span>
                        <span class="icon"><i class="fa-solid fa-download"></i></span>
                    </a>
                </li>
                <li>
                    <a href="../static/data.xlsx" download>
                        <span class="icon"><i class="fa-solid fa-flask"></i></span>
                        <span class="item">Вариант 4: В разработке....</span>
                        <span class="icon"><i class="fa-solid fa-download"></i></span>
                    </a>
                </li>
                </ul>         
        </div>
{% endblock %}
