{% extends "layout.html" %}

{% block title %}
    <title>GeoCalc_Index</title>
{% endblock %}

{% block li1 %} class="active"  {% endblock %}
{% block li2 %}  {% endblock %}
{% block li3 %} {% endblock %}
{% block li4 %}  {% endblock %}
{% block li5 %}  {% endblock %}
{% block li6 %}  {% endblock %}
{% block li7 %}  {% endblock %}
{% block content %}

<center><h1>Доброго дня</h1></center>
<br>
<p>Наш коллектив занимается геолого-экономической оценкой проектов (ГЭО) в области недропользования более 50 лет. За это время выработаны собственные методы и подходы к оценке недр.</p><br> 
<p>Для оценки проектов в области недропользования мы используем методику ГЭО с применением метода <a href="https://ru.wikipedia.org/wiki/%D0%9C%D0%B5%D1%82%D0%BE%D0%B4_%D0%9C%D0%BE%D0%BD%D1%82%D0%B5-%D0%9A%D0%B0%D1%80%D0%BB%D0%BE" >Монте-Карло</a>. За основу расчета берется предположение, что основные исходные данные, положенные в основу оценки: геологические запасы, технология освоения и внешняя рыночная конъектура при реализации проекта могут отклониться от некоторого среднего-расчетного по установленному или предполагаемому закону (статистической закономерности). Для того, чтобы учесть влияние данных факторов выполняется серия расчетов для различных, вероятных стечений факторов и рассчитывается показатель – успешность реализации проекта. За успешность реализации проекта принимается процентное количество экономически рентабельных расчетов от общего количества.</p>
<br>
<p>Расчетный механизм для каждого расчета базируется на упрощенном расчете, рекомендуемом «ГКЗ» для разработки ТЭО кондиций или ТЭО КИН.</p>
<br>
<p>В основу «ГеоКалькулятора» положено упрощенное ядро програмных комплексов «ExStrat” и «Стратегия».</p>
<br>
<center><img src="../static/img01.jpg">
<br>
<img src="../static/img02.jpg">
<br><br><br>
    <h3>Попробовать калькулятор</h3>
<a href="../geocalc">
<img class="calcr" src="../static/calc.jpg"></a></center>
{% endblock %}