<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.5.1/css/all.css">
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GeoCalc_Report</title>
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <style>

    </style>
</head>
<body>

    <div class="wrapper">
        <!--Top menu -->
        <div class="sidebar" >
 		<div class="profile">
                	<img src="earth.svg">
                	<h3>Геолого-</h3>
			<h3>экономический</h3>
			<h3>калькулятор</h3>
                	<p>(экспресс-оценка)</p>
            	</div>
		<div class="MENUITEM">
  		<ul>
                <li>
                    <a href="../index.html" >
                        <span class="icon"><i class="fas fa-home"></i></span>
                        <span class="item">Введение</span>
                    </a>
                </li>
                <li>
                    <a href="GeoCalc.html" >
                        <span class="icon"><i class="fa-solid fa-calculator"></i></span>
                        <span class="item">ГеоКалькулятор</span>
                    </a>
                </li>
                <li>
                    <a href="Report.html" class="active">
                        <span class="icon"><i class="fas fa-chart-line"></i></span>
                        <span class="item">Отчет</span>
                    </a>
                </li>
                <li>
                    <a href="Method.html" >
                        <span class="icon"><i class="fas fa-cog"></i></span>
                        <span class="item">Методика оценки</span>
                    </a>
                </li>
                <li>
                    <a href="Contacts.html" >
                        <span class="icon"><i class="fas fa-user-friends"></i></span>
                        <span class="item">Контакты</span>
                    </a>
                </li>
                <li>
                    <a href="Help.html" >
                        <span class="icon"><i class="fa-solid fa-question"></i></span>
                        <span class="item">Помощь</span>
                    </a>
                </li>
            </ul>         
        </div>
</div>
<div class="mainbar">

<center><h1>ОТЧЕТ</h1></center>
<center><h2>результаты расчета по вашему набору данных</h2></center>
<br>
<center><h3>Вероятность коммерчески успешной реализации проекта</h3></center>
<div class="chartCont" style="position: relative; height:300px; width:350px">
<canvas id="myRound1" width="200" height="250"></canvas>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script>
K01=84
new Chart(document.getElementById("myRound1"), {
    type: 'pie',
    data: {
      labels: ["Вероятность успеха", "Вероятность неуспеха"],
      datasets: [{
        label: "Вероятность, %",
        backgroundColor: ["#E74C3C", "#FADBD8"],
        data: [K01,(100-K01)]
      }]
    },
    options: {
      title: {
        display: true,
        text: 'Вероятность ком. реализации проекта'
      }
    }
});
  </script>
</div>
<br>

<center><h3>Основные экономические показатели</h3></center>
<center><table id="mytable">
  <tr>
    <th>Наименование</th>
    <th>Размерность</th>
    <th>Значение</th>
  </tr>
  <tr>
    <td>Общественная эффективность</td>
    <td>млн.руб.</td>
    <td>10</td>
  </tr>
  <tr>
    <td>NPV</td>
    <td>млн.руб.</td>
    <td>10</td>
  </tr>
  <tr>
    <td>PI</td>
    <td>д.ед.</td>
    <td>10</td>
  </tr>
  <tr>
    <td>IRR</td>
    <td>%</td>
    <td>10</td>
  </tr>
  <tr>
    <td>Бюджетная эффективность</td>
    <td>млн.руб.</td>
    <td>10</td>
  </tr>
</table></center>

<br><br>
<center><h2>РАЗДЕЛ 1 - РАСЧЕТ ПО БАЗОВОМУ ВАРИАНТУ</h2></center>
<br>
<p>В данном разделе проверяется работа расчетной модели по заданному базовому (рекомендуется - по среднему) варианту. Следует проверить правильность расчета физических объемов ГРР, горных работ, текущих и капитальных затрат суммарно и в динамике. Эта-же модель будет использована для стохастического моделирования</p>
<br>
<center><h3>Горная масса</h3></center>
<div class="chartCont" style="position: relative; height:300px; width:350px">
<canvas id="myRound4" width="200" height="250"></canvas>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script>
new Chart(document.getElementById("myRound4"), {
    type: 'pie',
    data: {
      labels: ["Товарная руда", "Вскрыша"],
      datasets: [{
        label: "горная масса, тыс.т.",
        backgroundColor: ["#E59866", "#CCD1D1"],
        data: [1000, 6500 ]
      }]
    },
    options: {
      title: {
        display: true,
        text: 'Горная масса'
      }
    }
});
  </script>
</div>
<br><br>

<center><h3>Осваиваемые геологические запасы</h3></center>
<div class="chartCont" style="position: relative; height:300px; width:350px">
<canvas id="myRound2" width="200" height="250"></canvas>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script>
new Chart(document.getElementById("myRound2"), {
    type: 'pie',
    data: {
      labels: ["Перерабат.запасы", "Потери", "Примешивание"],
      datasets: [{
        label: "руда, тыс.т.",
        backgroundColor: ["#E59866", "#82E0AA", "#CCD1D1"],
        data: [8000, 1000, 500]
      }]
    },
    options: {
      title: {
        display: true,
        text: 'Геологические запасы'
      }
    }
});
  </script>
</div>
<br><br>
<center><h3>Эксплуатационные запасы</h3></center>
<div class="chartCont" style="position: relative; height:300px; width:350px">
<canvas id="myRound3" width="200" height="250"></canvas>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script>
new Chart(document.getElementById("myRound3"), {
    type: 'pie',
    data: {
      labels: ["Товарная продукция", "Потери", "Хвосты"],
      datasets: [{
        label: "руда, тыс.т.",
        backgroundColor: ["#E59866", "#82E0AA", "#CCD1D1"],
        data: [1000, 6500, 500]
      }]
    },
    options: {
      title: {
        display: true,
        text: 'Эксплуатационные запасы'
      }
    }
});
  </script>
</div>
<br><br>
<!-- <center><h3>Динамика производства горных работ</h3></center> -->
<div class="chartCont" style="position: relative; height:600px; width:800px">
<center><canvas id="myChart" width="800" height="600"></canvas></center>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script>

  const ctx = document.getElementById('myChart').getContext('2d');
  const myChart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels : [1,	2,	3,	4,	5,	6,	7,	8,	9,	10,	11,	12,	13,	14,	15,	16,	17,	18,	19,	20,	21,	22,	23,	24,	25],
          datasets: [{
            label: "Производительность по руде",
            data : [0,	0,	0,	5243.516168,	5243.516168,	5243.516168,	5243.516168,	5243.516168,	5243.516168,	5243.516168,	5243.516168,	5243.516168,	5243.516168,	5243.516168,	5243.516168,	5243.516168,	5243.516168,	5243.516168,	5243.516168,	5243.516168,	5243.516168,	5243.516168,	5243.516168,	36.80026849,	0
],
            backgroundColor: '#EB984E',
            borderColor: '#D35400',
            borderWidth: 1
          },{
            label: "Производительность по вскрыше",
            data : [0,	0,	0,	273.0760145,	1732.446141,	3191.816268,	4651.186395,	6110.556521,	7569.926648,	9029.296775,	10488.6669,	11948.03703,	13407.40715,	14866.77728,	16326.14741,	17785.51753,	19244.88766,	20704.25779,	22163.62791,	23622.99804,	25082.36817,	26541.73829,	28001.10842,	201.6756196,	0
],
            backgroundColor: '#85C1E9',
            borderColor: '#2E86C1',
            borderWidth: 1
          },{
            label: "Производительность ГКР",
            data : [0,	0,	28506.55133,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0],
            backgroundColor: '#85C1E9',
            borderColor: '#2E86C1',
            borderWidth: 1
          }]
      },


            options: {
                plugins: { title: { display: true, text: 'Динамика производства горных работ', color: 'black', font: {weight: 'bold', size: 18} } },
                scales: {
                    x: { title: { display: true, text: 'Год от начала производства горных работ'} },
                    y: { title: { display: true, text: 'Производительность, тыс.т/год'} }
                }
            }
  });
  </script>
</div>
<br><br>
<center><h3>ОСНОВНЫЕ ГОРНО-ТЕХНИЧЕСКИЕ ПОКАЗАТЕЛИ</h3></center>
<center><table id="mytable">
  <tr>
    <th>Наименование</th>
    <th>Размерность</th>
    <th>Значение</th>
  </tr>
  <tr>
    <td>Оцениваемые геол.запасы руды</td>
    <td>тыс.т.</td>
    <td>10</td>
  </tr>
  <tr>
    <td>Оцениваемые эксплуатационные запасы руды</td>
    <td>тыс.т.</td>
    <td>10</td>
  </tr>
  <tr>
    <td>Добываемая горная масса</td>
    <td>тыс.м3.</td>
    <td>10</td>
  </tr>
  <tr>
    <td>Потери</td>
    <td>%</td>
    <td>10</td>
  </tr>
  <tr>
    <td>Разубоживание</td>
    <td>%</td>
    <td>10</td>
  </tr>
  <tr>
    <td>Срок обеспеченности предприятия запасами</td>
    <td>лет</td>
    <td>10</td>
  </tr>
  <tr>
    <td>Среднегодовая произв. мощность по руде</td>
    <td>тыс.т.</td>
    <td>10</td>
  </tr>
  <tr>
    <td>Год выхода предприятия на полную произв. мощность</td>
    <td>лет</td>
    <td>10</td>
  </tr>
  <tr>
    <td>Коэффициент вскрыши</td>
    <td>м3/т</td>
    <td>10</td>
  </tr>
  <tr>
    <td>Суммарный выпуск товарной продукции</td>
    <td>тыс.т.</td>
    <td>10</td>
  </tr>
</table></center>
<br><br>

<div class="chartCont" style="position: relative; height:600px; width:800px">
<center><canvas id="myChart1" width="800" height="600"></canvas></center>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script>

  const ctx1 = document.getElementById('myChart1').getContext('2d');
  const myChart1 = new Chart(ctx1, {
      type: 'bar',
      data: {
        labels : [1,	2,	3,	4,	5,	6,	7,	8,	9,	10,	11,	12,	13,	14,	15,	16,	17,	18,	19,	20,	21,	22,	23,	24,	25],
          datasets: [{
            label: "Чистый недисконтированный доход",
            data : [0,	0,	0,	5243.516168,	5243.516168,	5243.516168,	5243.516168,	5243.516168,	5243.516168,	5243.516168,	5243.516168,	5243.516168,	5243.516168,	5243.516168,	5243.516168,	5243.516168,	5243.516168,	5243.516168,	5243.516168,	5243.516168,	5243.516168,	5243.516168,	5243.516168,	36.80026849,	0
],
            backgroundColor: '#CD6155',
            borderColor: '#17202A',
            borderWidth: 1
          },{
            label: "Затраты на ГРР",
            data : [0,	0,	0,	273.0760145,	1732.446141,	3191.816268,	4651.186395,	6110.556521,	7569.926648,	9029.296775,	10488.6669,	11948.03703,	13407.40715,	14866.77728,	16326.14741,	17785.51753,	19244.88766,	20704.25779,	22163.62791,	23622.99804,	25082.36817,	26541.73829,	28001.10842,	201.6756196,	0
],
            backgroundColor: '#AF7AC5',
            borderColor: '#17202A',
            borderWidth: 1
          },{
            label: "Инвестиционные расходы",
            data : [0,	0,	28506.55133,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0],
            backgroundColor: '#5499C7',
            borderColor: '#17202A',
            borderWidth: 1
          },{
            label: "Текущие издержки",
            data : [0,	0,	0,	273.0760145,	1732.446141,	3191.816268,	4651.186395,	6110.556521,	7569.926648,	9029.296775,	10488.6669,	11948.03703,	13407.40715,	14866.77728,	16326.14741,	17785.51753,	19244.88766,	20704.25779,	22163.62791,	23622.99804,	25082.36817,	26541.73829,	28001.10842,	201.6756196,	0
],
            backgroundColor: '#48C9B0',
            borderColor: '#17202A',
            borderWidth: 1
          },{
            label: "Налоги и платежи",
            data : [0,	0,	28506.55133,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0],
            backgroundColor: '#52BE80',
            borderColor: '#17202A',
            borderWidth: 1
          },{
            label: "Налоги и платежи",
            type: "line",
            data : [0,	0,	0,	273.0760145,	1732.446141,	3191.816268,	4651.186395,	6110.556521,	7569.926648,	9029.296775,	10488.6669,	11948.03703,	13407.40715,	14866.77728,	16326.14741,	17785.51753,	19244.88766,	20704.25779,	22163.62791,	23622.99804,	25082.36817,	26541.73829,	28001.10842,	201.6756196,	0
],
            backgroundColor: '#F4D03F',
            borderColor: '#17202A',
            borderWidth: 1
          }]
      },


            options: {
                plugins: { title: { display: true, text: 'Динамика денежных потоков', color: 'black', font: {weight: 'bold', size: 18} } },
                scales: {
                    x: { title: { display: true, text: 'Год от начала производства горных работ'} },
                    y: { title: { display: true, text: 'денежный поток, млн.руб.'} }
                }
            }
  });
  </script>
</div>
<br><br>

<center><table id="mytable">
  <tr>
    <th>Наименование</th>
    <th>Размерность</th>
    <th>Значение</th>
  </tr>
  <tr>
    <td>Стоимость товарной продукции годового выпуска</td>
    <td>млн.руб.</td>
    <td>10</td>
  </tr>
  <tr>
    <td>Капитальные затраты</td>
    <td>млн.руб.</td>
    <td>10</td>
  </tr>
  <tr>
    <td>Оборотный капиталл</td>
    <td>млн.руб.</td>
    <td>10</td>
  </tr>
  <tr>
    <td>Эксп.затраты за расчетный период</td>
    <td>млн.руб.</td>
    <td>10</td>
  </tr>
  <tr>
    <td>Валовая прибыль</td>
    <td>млн.руб.</td>
    <td>10</td>
  </tr>
  <tr>
    <td>Налог на имущество и прочие платежи</td>
    <td>млн.руб.</td>
    <td>10</td>
  </tr>
  <tr>
    <td>Налогооблагаемая прибыль</td>
    <td>млн.руб.</td>
    <td>10</td>
  </tr>
  <tr>
    <td>Налог на прибыль</td>
    <td>млн.руб.</td>
    <td>10</td>
  </tr>
  <tr>
    <td>Чистая прибыль</td>
    <td>млн.руб.</td>
    <td>10</td>
  </tr>
  <tr>
    <td>Чистый дисконтированный доход</td>
    <td>млн.руб.</td>
    <td>10</td>
  </tr>
</table></center>
<br><br>

<center><h3>СТРУКТУРА СЕБЕСТОИМОСТИ ТОВАРНОЙ ПРОДУКЦИИ, РУБ/Т</h3></center>
<div class="chartCont" style="position: relative; height:300px; width:350px">
<canvas id="myRound5" width="200" height="250"></canvas>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script>
new Chart(document.getElementById("myRound5"), {
    type: 'pie',
    data: {
      labels: ["Товарная руда", "Вскрыша"],
      datasets: [{
        label: "горная масса, тыс.т.",
        backgroundColor: ["#E59866", "#CCD1D1"],
        data: [1000, 6500 ]
      }]
    },
    options: {
      title: {
        display: true,
        text: 'Горная масса'
      }
    }
});
  </script>
</div>
<br><br>

<center><h3>СТРУКТУРА КАП.ЗАТРАТ, РУБ/Т</h3></center>
<div class="chartCont" style="position: relative; height:300px; width:350px">
<canvas id="myRound6" width="200" height="250"></canvas>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script>
new Chart(document.getElementById("myRound6"), {
    type: 'pie',
    data: {
      labels: ["Товарная руда", "Вскрыша"],
      datasets: [{
        label: "горная масса, тыс.т.",
        backgroundColor: ["#E59866", "#CCD1D1"],
        data: [1000, 6500 ]
      }]
    },
    options: {
      title: {
        display: true,
        text: 'Горная масса'
      }
    }
});
  </script>
</div>
<br><br>
<center><h3>СТРУКТУРА СЕБЕСТОИМОСТИ ТОВАРНОЙ ПРОДУКЦИИ</h3></center>
<center><table id="mytable">
  <tr>
    <th>Наименование</th>
    <th>Размерность</th>
    <th>Значение</th>
  </tr>
  <tr>
    <td>Стоимость товарной продукции годового выпуска</td>
    <td>млн.руб.</td>
    <td>10</td>
  </tr>
  <tr>
    <td>Капитальные затраты</td>
    <td>млн.руб.</td>
    <td>10</td>
  </tr>
  <tr>
    <td>Оборотный капиталл</td>
    <td>млн.руб.</td>
    <td>10</td>
  </tr>
  <tr>
    <td>Эксп.затраты за расчетный период</td>
    <td>млн.руб.</td>
    <td>10</td>
  </tr>
  <tr>
    <td>Валовая прибыль</td>
    <td>млн.руб.</td>
    <td>10</td>
  </tr>
  <tr>
    <td>Налог на имущество и прочие платежи</td>
    <td>млн.руб.</td>
    <td>10</td>
  </tr>
  <tr>
    <td>Налогооблагаемая прибыль</td>
    <td>млн.руб.</td>
    <td>10</td>
  </tr>
  <tr>
    <td>Налог на прибыль</td>
    <td>млн.руб.</td>
    <td>10</td>
  </tr>
  <tr>
    <td>Чистая прибыль</td>
    <td>млн.руб.</td>
    <td>10</td>
  </tr>
  <tr>
    <td>Чистый дисконтированный доход</td>
    <td>млн.руб.</td>
    <td>10</td>
  </tr>
</table></center>
<br><br>
<center><h3>СТРУКТУРА КАП.ЗАТРАТ</h3></center>
<center><table id="mytable">
  <tr>
    <th>Наименование</th>
    <th>Размерность</th>
    <th>Значение</th>
  </tr>
  <tr>
    <td>Стоимость товарной продукции годового выпуска</td>
    <td>млн.руб.</td>
    <td>10</td>
  </tr>
  <tr>
    <td>Капитальные затраты</td>
    <td>млн.руб.</td>
    <td>10</td>
  </tr>
  <tr>
    <td>Оборотный капиталл</td>
    <td>млн.руб.</td>
    <td>10</td>
  </tr>
  <tr>
    <td>Эксп.затраты за расчетный период</td>
    <td>млн.руб.</td>
    <td>10</td>
  </tr>
  <tr>
    <td>Валовая прибыль</td>
    <td>млн.руб.</td>
    <td>10</td>
  </tr>
  <tr>
    <td>Налог на имущество и прочие платежи</td>
    <td>млн.руб.</td>
    <td>10</td>
  </tr>
  <tr>
    <td>Налогооблагаемая прибыль</td>
    <td>млн.руб.</td>
    <td>10</td>
  </tr>
  <tr>
    <td>Налог на прибыль</td>
    <td>млн.руб.</td>
    <td>10</td>
  </tr>
  <tr>
    <td>Чистая прибыль</td>
    <td>млн.руб.</td>
    <td>10</td>
  </tr>
  <tr>
    <td>Чистый дисконтированный доход</td>
    <td>млн.руб.</td>
    <td>10</td>
  </tr>
</table></center>
<br><br>
<center><h2>Раздел 2 - Стохастический расчет вероятности успешной реализации проекта</h2></center>
<br>
<p>В данном разделе производится расчет вероятности успешной реализации проекта, равной количеству расчетных вариантов с NPV>0 к общему количеству расчетов. Каждый расчетный вариант получается следующим путем:<br/>
1. По заданным законам распределения производится генерация вероятного сочетания переменных параметров.<br/>
2. Сгенерированные параметры подставляются в исходные данные и выполняется расчет, аналогичный приведенному в разделе 1.<br/>
3. Рассчитанное значение NPV запоминается, п.2-3 повторятся 1000 раз.<br/>
4. Рассчитывается количество значений NPV>0. Оно, в рамках ограничений расчетной модели и будет равно расчетной вероятности коммерчески-успешной реализации проекта.<br/>
5. Распределение параметра NPV следует использовать для оценки степени неопределенности проекта.

</p>
<br>
<center><h3>Варьируемые параметры</h3></center>
<center><table id="mytable">
  <tr>
    <th>Параметр</th>
    <th>Распределение</th>
    <th>Среднее</th>
    <th>Медиана</th>
    <th>Среднеквадратичное откл.</th>
    <th>Диапазон, от</th>
    <th>до</th>
  </tr>
  <tr>
    <td>10</td>
    <td>10</td>
    <td>10</td>
    <td>10</td>
    <td>10</td>
    <td>10</td>
    <td>10</td>
  </tr>

</table></center>
<br><br>
<div class="chartCont" style="position: relative; height:500px; width:800px">
<center><canvas id="myChart2" width="800" height="500"></canvas></center>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script>

  const ctx2 = document.getElementById('myChart2').getContext('2d');
  const myChart2 = new Chart(ctx2, {
      type: 'bar',
      data: {
        labels : [-19154.1053,	-17458.8798,	-15763.6543,	-14068.4288,	-12373.2033,	-10677.9778,	-8982.7523,	-7287.5268,	-5592.3013,	-3897.0758,	-2201.8503,	-506.6248,	1188.6007,	2883.8262,	4579.0517,	6274.27719,	7969.50269,	9664.72819,	11359.95369,	13055.17919,	14750.40469,	16445.63019,	18140.85569,	19836.08119,	21531.30669
],
          datasets: [{
            label: "NPV+",
            data : [0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0.574724173,	0.624874624,	0.664994985,	0.703109328,	0.740220662,	0.776328987,	0.823470411,	0.849548646,	0.877632899,	0.900702106,	0.916750251,	0.930792377,	0.943831494,

],
            backgroundColor: '#CD6155',
            borderColor: '#17202A',
            borderWidth: 1
          },{
            label: "NPV-",
            data : [0.056168506,	0.080240722,	0.100300903,	0.133400201,	0.159478435,	0.191574724,	0.230692076,	0.279839519,	0.330992979,	0.393179539,	0.451354062,	0.518555667,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0

],
            backgroundColor: '#AF7AC5',
            borderColor: '#17202A',
            borderWidth: 1
          }]
      },


            options: {
                plugins: { title: { display: true, text: 'Статистика: NPV', color: 'black', font: {weight: 'bold', size: 18} } },
                scales: {
                    x: { title: { display: true, text: 'Год от начала производства горных работ'} },
                    y: { title: { display: true, text: 'денежный поток, млн.руб.'} }
                }
            }
  });
  </script>
</div>
<br><br>


</body>
</div>
</body>
</html>